.body {
  color: rgba(33, 33, 33, 1);
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #FFFFFF;
  height: 80px;
  border-bottom: 1px solid #ECECEC;;
}
.navigation {

}
.current-page {
  position: relative 
}
.current-page::after {
  content: ""; 
  display: block;
  position: absolute;
  border-top: 4px solid #2196F3;
  border-radius: 2px;
  width: 100%;
  bottom:-31px;
  left: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  

  
}
.header .container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: black;
  margin-right: 53px;
}

.logo:hover,
.logo:focus  

.menu ul li{
  list-style-type:none;
}
.menu {
  list-style-type: none;
  display: flex;
  padding-inline-start: 0;
}

.menu-item {
  margin-right: 46px;
}

.menu-item a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  color: black;
  list-style-type: none;
  transition-property: color;
}

.menu-item:last-child {
  margin-right: 0;
}
.menu-item a:hover,
.menu-item a:focus {
  color: rgba(33, 150, 243, 1);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.contacts {
  padding-inline-start: 0;
  list-style-type: none;
  display:flex;
  margin-left: auto;
}
.contacts-item {
margin-right: 50px;
}
.contacts-item a {
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  transition-property: color;
}
.contacts-item a:hover,
.contacts-item a:focus {
  color: rgba(33, 150, 243, 1);
  stroke: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.envelope-icon {
  margin-right: 10px;
}
.smartphone-icon{
  margin-right: 10px;
}
.main-photo {
  background-color: #2F303A;
  height: 600px;
  background: url("../images/team_image.jpg"), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  background-size: cover;
max-width: 1600px;
margin: 0 auto;}

.slogan {
  font-style: black;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.6;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  text-align: center;
  width: 696px;
  padding-top: 200px;
  margin: auto;
  ;
}
.filters {
  list-style-type: none;
  display: flex;
  justify-content: center;
margin-bottom: 50px;
}
.filters-item {
}
.filters-button {
  line-height: 1.625;
  font-weight: bold;
  padding: 6px 22px;
  color: #212121;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-property: background-color, color, box-shadow;

}
.filters-button:hover,
.filters-button:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}


.filters-item:not(:last-child) {
    margin-right: 8px;
  }
  
.button {
  line-height: 1.875; 
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
  width: 200px;
padding: 10px 42px;
  margin: 30px 500px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: 0;
  ;
}

.features {
  list-style-type: none;
  display: flex ;
  justify-content: space-between;

}

.features-box {
  background-color: rgba(245, 244, 250, 1);
  height: 120px;
width: 270px;
left: 215px;
border-radius: 4px;
display: flex;
justify-content: center;
align-items: center;
}

.features h4 {
  width: 270px;
}

.features li {
  float: left;
  margin-right: 20px;
}
h4 {
  font-size: 14px;
  line-height: 1.42;
  font-weight: bold;
font-style: normal;
letter-spacing: 0.03em;
text-transform: uppercase;
}
ul {
  padding-inline-start: 0px;
}
.feature-text {
  color: rgba(117, 117, 117, 1);
  font-size: 14px;
  width: 270px;
}
.title {
  font-size: 36px;
  line-height: 1.166;
text-align: center;
}
.interests {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex ;
  justify-content: space-between;
}

.interests-item:not(:last-child) {
  margin-right: 30px;
}

.interests-item {
  position: relative;
}
.interests-subject {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 4px;
}
.team-members {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
}
.team-card:not(:last-child) {
    margin-right: 30px;
  }

  .team-card img {
    border-radius: 0px;
  }

.team {
  background-color: rgba(245, 244, 250, 1);
}
.team-card {
  background-color: rgba(255, 255, 255, 1);
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.socials-list {
list-style: none;
display: flex;
justify-content: space-between;
margin-right: 32px;
margin-left: 32px;
margin-bottom: 18px;
padding-bottom: 12px;

}
.socials-icon {
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  ;
}
.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition-property: background-color, fill;
}


.socials-link:hover,
.socials-link:focus {
  background-color: rgba(33, 150, 243, 1);
    transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover svg,
.socials-link:focus svg {
  fill: rgba(255, 255, 255, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
h3 {
  line-height: 1.1875;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-position {
  color: rgba(117, 117, 117, 1);
  line-height: 1.1875;
  text-align: center;
}

.projects {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.project-card {
width: 370px;
background-color: rgba(255, 255, 255, 1);
  list-style-type: none;
  border: 1px solid #EEEEEE;
  transition-property: box-shadow;
 position: relative;
}

.project-card:hover,
.project-card:focus { box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
 transition-duration: 250ms;
 transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.projects h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  margin-left: 24px;
  margin-right: 24px;
  display: block;
  margin-block-start: 20px;
  margin-block-end: 4px;
  text-transform: none;
}
.project-card-object {
    line-height: 1.875;
    color: rgba(117, 117, 117, 1);
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
    margin-block-start: 0px;
}

.projects-hover-overlay {
  position: absolute;
  bottom: 110px;
  width: 100%;
  height: 0;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  overflow: hidden;
  transition-property: height;
}
.project-card:hover .projects-hover-overlay {
height: 300px;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.projects-hover-overlay p {
  display: inline;
  padding: 45px 49px 45px 24px;
  margin-top: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  position: absolute;

}
.footer {
  background-color: #2F303A;
  height: 252px;
  margin: 0 auto;
}
.address {
  color: #FFFFFF;
  margin-top: 20px;
}
.address-contact {
  color: #FFFFFF99;
  margin-top: 9px;
}
  .address-contact a {
    color: #FFFFFF99;
    margin-top: 9px;
}
.logo-bot {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: #FFFFFF;
}
.footer .container {
  padding-top: 60px;
  display: flex;
}
.section {
  padding: 94px 0px;
}
.clients {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-block-start: 0;
  margin-block-end: 0;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill, border-color;

}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: rgba(175, 177, 184, 1);
}
.clients-link:hover svg,
.clients-link:focus svg {
fill: rgba(33, 150, 243, 1);
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {border-color: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);}

.footer-socials {
  margin-left: 70px;
}
.footer-socials h4 {
  color: rgba(255, 255, 255, 1);
  margin-block-start: 12PX;
}

.footer-socials-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-block-start: 0;
  margin-block-end: 0;

}
.footer-socials-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-socials-icon {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
  transition-property: background-color;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: rgba(33, 150, 243, 1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  cursor: pointer;
  z-index: 1000;
}
/* Modal form */
.modal-form {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0;
  padding-top: 30px;
}
.modal-txt {
  font-size: 20px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}
.modal-form label {
  font-size: 12px;
  line-height: 1.15;
  color: rgba(117, 117, 117, 1);
  padding-left: 40px;
  margin-bottom: 4px;
  margin-top: 12px;
}
.modal-form input{
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-form input,
.modal-form textarea {
  color: var(--text-grey);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.user-comment {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.user-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.15;
}
.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-right: 40px;
}
.modal-checkbox a {
  color: rgba(33, 150, 243, 1);
}
.checkbox-label::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 0;
  margin-right: 7px;
  display: inline-block;
  border: 3px solid rgba(33, 33, 33, 1);
  border-radius: 4px;
}
.checkbox-input {
  position: absolute;
  opacity: 0;
}
.checkbox-input:checked + .checkbox-label::before {
  background-color: rgba(33, 150, 243, 1);
  border: none;
  background-image: url(../images/tick.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.checkbox-label {
  margin: 0;
  padding: 0;
  align-self: center;
}
.modal-form input:hover,
.modal-form textarea:hover {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.user-comment:focus-visible,
input:focus-visible {
  outline: none;
  border: 1px solid  rgba(33, 150, 243, 1);
}
.modal-send-button {
  width: 200px;
  height: 50px;
  background:  rgba(33, 150, 243, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: #fff;
  margin: auto;
  margin-top: 30px;
  border: none;
}
.modal-send-button:hover {
  cursor: pointer;
  transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.modal-form label:focus-within svg {
  fill:  rgba(33, 150, 243, 1);
}
.input-icon {
  width: 12px;
  height: 12px;
  fill: #000;
  position: absolute;
  left: 52px;
}

.icon-user-name {
  width: 12px;
  height: 12px;
  top: 94px;
}

.icon-modal-phone {
  height: 13px;
  width: 13px;
  top: 164px;
}

.icon-modal-email {
  width: 15px;
  height: 12px;
  top: 233px;
}


.icon-user-name {
width: 12px;
height: 12px;
}
.close-button {
  height: 30px;
  width: 30px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  opacity: 100%;
}
.newsletter {
  margin-left: 78px;
}
.newsletter-txt {
  margin-block-start: 12px;
  margin-block-end: 20px;
  color: rgba(255, 255, 255, 1);
}
.newsletter-input {
  width: 300px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: rgba(47, 48, 58, 1);
padding-left: 16px;
color: white;
outline: none;
;
}
input:focus {
outline: 1px solid rgba(33, 150, 243, 1);
}

.newsletter-btn {position: relative;
  margin-left: 12px;
  width: 200px;
height: 50px;
  background: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border: none;
padding-left: 42px;
padding-right: 0;
}
.newsletter-btn h4 {
font-size: 16px;
line-height: 1.875;
text-align: left;
margin-block-start: 0;
margin-block-end: 0;
}
.send-icon {
  position: absolute;
  right: 25px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: white;
}