

/* Features */

.features {
    padding: 94px 0px;
  }
    
  .features__list {
    list-style-type: none;
    display: flex ;
    justify-content: space-between;
  }
  .features__item {
      margin-right: 20px;
      font-size: 14px;
      width: 270px;
  }
  
  .features__box {
    background-color: var(--white-grey);
    height: 120px;
  width: 270px;
  left: 215px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .features__item--tittle {
    
    line-height: 1.42;
    font-weight: bold;
  font-style: normal;
  letter-spacing: 0.03em;
  }
  
  .features__item--text {
    color: var(--grey);
  }
  
  .features__box--antenna {
    width: 65.32px;
    height: 70px
  }
  .features__box--clock {
    width: 66.96px;
    height: 70px
  }
  
  .features__box--diagram {
    width: 53.69px;
    height: 70px
  }
  
  .features__box--astronaut {
    width: 54.83px;
    height: 60.66px
  }