

/* Features */

.features {
    padding: 94px 0px;
  }
  
  .features-content {
    width: 1200px;
    margin: 0 auto;
  }
  
  .features-list {
    list-style-type: none;
    display: flex ;
    justify-content: space-between;
  }
  .features-list-item {
      margin-right: 20px;
  }
  
  .features-box {
    background-color: var(--white-grey);
    height: 120px;
  width: 270px;
  left: 215px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  
  .features-list-item__tittle {
    font-size: 14px;
    line-height: 1.42;
    font-weight: bold;
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  }
  
  .features-list-item__text {
    color: var(--grey);
    font-size: 14px;
    width: 270px;
  }
  
  .features-box__antenna {
    width: 65.32px;
    height: 70px
  }
  .features-box__clock {
    width: 66.96px;
    height: 70px
  }
  
  .features-box__diagram {
    width: 53.69px;
    height: 70px
  }
  
  .features-box__astronaut {
    width: 54.83px;
    height: 60.66px
  }