
.interests { padding: 94px 0px;}
.interests__content {
  width: 1200px;
  margin: 0 auto;}

.interests__item {
  position: relative;
  width: 370px;
}

.interests-item:not(:last-child) {
  margin-right: 30px;
}
.interests-item__img {

height: 294px;
}

.interests__subject {
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
height: 70px;
display: flex;
align-items: center;
justify-content: center;
position: absolute;
bottom: 4px;
}