.list {
    list-style-type: none;
    display: flex ;
    justify-content: space-between;
}

.list--socials {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 18px;
        padding-bottom: 12px;
        
}
    